/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Imports */
@import 'tailwindcss';
@import '@kokimoki/shared/styles.css';

@plugin "@tailwindcss/typography";

@theme {
	--font-family: 'Noto Sans', sans-serif;
	/* Casino poker theme */
	--color-poker-green: #0d5e3a;
}

html,
body {
	background-color: var(--color-poker-green);
	font-family: var(--font-family);
}
